.vare{
    display: flex;
    justify-content: center;
    align-items: center;
}
.varer{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}